.main-container {
  background-color: $Cream;
}

.header {
  border-radius: $border-radius;

  background-color: $Soft-red;
}

.chart {
  margin-top: 1rem;
  border-radius: $border-radius;

  background-color: $Very-pale-orange;

  &_bars {
    --gap: 0.65rem;
  }

  &_bar {
    height: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  &_amount {
    position: relative;

    height: 60%;
    width: 100%;
    border-radius: $border-radius / 2;

    background-color: $Soft-red;

    &.accent {
      background-color: $Cyan;
    }

    &::after {
      content: var(--content, '0');
      display: none;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -1.6rem;
      width: max-content;
      height: max-content;
      padding: 0.25rem;
      border-radius: $border-radius / 3;

      font-size: 0.6rem;
      color: $Very-pale-orange;
      font-family: inherit;
      background-color: $Dark-brown;
    }

    &:hover {
      &::after {
        display: inline;
      }
    }
  }

  &_amount-day {
    margin-top: 0.45rem;
    color: $Medium-brown;
    font-size: var(--fs-300);
  }

  &_end-line {
    height: 2px;
    background-color: $Cream;
  }
}

.last-month {
  --align: end;
  align-self: end;

  h2 {
    order: 1;
  }
}
