.main-container {
  background-color: $Cream;
}

.header {
  border-radius: $border-radius;

  background-color: $Soft-red;
}

.chart {
  margin-top: 1rem;
  border-radius: $border-radius;

  background-color: $Very-pale-orange;

  &_bars {
    --gap: 0.65rem;
    height: 150px;
  }

  &_bar {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  &_amount {
    height: 60%;
    width: 100%;
    border-radius: $border-radius / 2;

    background-color: $Soft-red;
  }

  &_amount-day {
    color: $Medium-brown;
    font-size: var(--fs-300);
  }

  &_end-line {
    height: 2px;
    background-color: $Cream;
  }
}

.last-month {
  --align: end;
  align-self: end;

  h2 {
    order: 1;
  }
}
