:root {
  --y-spacing: 1.15rem;
  --b-radius: 10px;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.flex {
  display: flex;
  flex-direction: var(--direction, row);
  justify-content: var(--justify, space-between);
  align-items: var(--align, center);
  gap: var(--gap, 1rem);

  &--column {
    --direction: column;
    --align: start;
    --gap: 0;
  }
}

.container {
  width: min(540px, 92vw);
  padding-inline: max(15px, var(--inline-p, 5vw));
  padding-block: var(--y-spacing);
}

.footer {
  position: relative;
}

.attribution {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
}

.flow {
  > * + * {
    margin-top: var(--y-spacing, 1rem);
  }
}
